<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Expense</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">

    <h2>Add Expense</h2>

    <form th:action="@{/expenses}"
          th:object="${expense}"
          method="post">

        <label>Amount</label>
        <input type="number" step="0.01" th:field="*{amount}">
        <div class="error" th:errors="*{amount}"></div>

        <label>Category</label>
        <input type="text" th:field="*{category}">
        <div class="error" th:errors="*{category}"></div>

        <label>Date</label>
        <input type="date" th:field="*{date}">
        <div class="error" th:errors="*{date}"></div>

        <label>Description</label>
        <input type="text" th:field="*{description}">

        <button type="submit" class="btn btn-success">Save</button>

        <a th:href="@{/expenses}" class="btn btn-reset">Back</a>

    </form>

</div>

</body>
</html>