<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Expense</title>
</head>
<body>

<h2>Add Expense</h2>

<form th:action="@{/expenses}" th:object="${expense}" method="post">

    Amount:
    <input type="number" step="0.01" th:field="*{amount}" />
    <div th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>
    <br/>

    Category:
    <input type="text" th:field="*{category}" />
    <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
    <br/>

    Date:
    <input type="date" th:field="*{date}" />
    <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
    <br/>

    Description:
    <input type="text" th:field="*{description}" />
    <br/>

    <button type="submit">Save</button>
</form>

<a th:href="@{/expenses}">Back</a>

</body>
</html>